.App {
  text-align: center;
  visibility: hidden;
}

img{
  opacity: 0;
}

p{
  opacity: 0;
}


div.circles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);

}
.circle{
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
.circle.red{
  background-color: red;
}
.circle.yellow{
  background-color: yellow;
}
.circle.blue{
  background-color: blue;
}

.App-link {
  color: #61dafb;
}

